<link rel="stylesheet" href="/styles/signup/styles.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<%- include('header.ejs') %>
<div class="container maindiv">
    <h1 class="heading"><%= message %></h1><br><br>
    <h1 class="heading">Enter your Email to Reset Password</h1><br><br>
    <form>
        <input id = "email" name="username" size="40px" type="email" placeholder="Enter Email to resend Password email" required/><br><br>
        <p id="errRemark" style="color: red;font-size: 12px;"></p>
        <button id = "submitEmail" class="btn btn-success btn-lg" type="button">Send Email</button>&nbsp;&nbsp;&nbsp;
        <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg">Go To Login</button></a>
    </form>
    
</div>

<script>
    var email = document.getElementById("email");
    var submitEmail = document.getElementById("submitEmail");
    var errRemark = document.getElementById("errRemark");
    submitEmail.addEventListener("click",function(req,res){
        if(email.value === "")
        {
            errRemark.innerText = "*please Enter your Email"
            return;
        }
        var request = new XMLHttpRequest();
        request.addEventListener("load", function(response){
            console.log(this.responseText)
            if(this.status == 404)
            {
                errRemark.innerText = this.responseText;
            }
            else if(this.status == 500)
            {
                alert("Some Error occured please try again");
            }
            else if(this.status == 200)
            {
                alert("Email sent. Please Check your mail");
                window.location.href = "login";                
                
            }
        })
        console.log(email.value)
        request.open("POST",'/reSetPassEmail');
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({email: email.value}));
    })
</script>