<style>
    #navbar{
        display: flex;
        width: 100%;
        background-color: #0f1111;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0px;
        color: white;
    }
    #loginheader, #signupheader{
        text-decoration: none;
        color: white;
    }
</style>

<div id="navbar">

    <h2 id = "heading">Fooley Cooley</h2>
    <a href="login"  id="loginheader"><h4>Login</h4></a> 
    <a href="signup"  id="signupheader"><h4>Create Account</h4></a> 
</div>