<link rel="stylesheet" href="/styles/signup/styles.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<%- include('header.ejs') %>

<div class="container maindiv">
    <h1 class="heading">Enter New Password</h1><br><br>
    <form>
        <input id = "password" name="password" size="40px" placeholder="Enter New Password" type="password" required/><br><br>
        <input id = "Confirmpassword" name="Confirmpassword" size="40px" placeholder="Confirm Password" type="password" required/><br><br>
        <p id="errRemark" style="color: red;font-size: 12px;"></p>
        <button id = "resetPassword" class="btn btn-success btn-lg" type="button">Reset Password</button>&nbsp;&nbsp;&nbsp;
        <a href="/login"><button type="button" class="btn btn-outline-secondary btn-lg">Go To Login</button></a>
    </form>
    
</div>

<script>
    var password = document.getElementById("password");
    var Confirmpassword = document.getElementById("Confirmpassword");
    var resetPassword = document.getElementById("resetPassword");
    var errRemark = document.getElementById("errRemark");
    resetPassword.addEventListener("click",function(req,res){
        if(password.value === "" || Confirmpassword.value === "")
        {
            errRemark.innerText = "please Enter all fields"
            return;
        }
        if(password.value != Confirmpassword.value)
        {
            errRemark.innerText = "Passwords do not match"
            return;
        }
        var request = new XMLHttpRequest();
        request.addEventListener("load", function(response){
            console.log(this.responseText)
            if(this.status == 404)
            {
                errRemark.innerText = this.responseText;
            }
            else if(this.status == 500)
            {
                alert("Some Error occured please try again");
            }
            else if(this.status == 200)
            {
                alert("Password has been Reset");
                window.location.href = "login";
            }
        })
        request.open("POST",window.location.href);
        request.setRequestHeader("Content-Type", "application/json");
        request.send(JSON.stringify({password: password.value}));
    })
</script>