<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<html>
<head>
    <title>Welcome User</title>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container maindiv" style="text-align:center!important;margin-top:50px;border:1px solid;padding:20px 0px 20px 0px;">

        <h1 class="heading" style="text-align:center;">WELCOME USER</h1>
        <br><br>
        <button class="btn btn-secondary btn-lg" id="redirect-to-login"><a id="fix-anchor" href="/login">Login</a></button>
        <br><br>
        <button class="btn btn-secondary btn-lg" id="createacc"><a id="fix-anchor" href="/signup">Create Account</a></button>

    </div>
</body>

</html>