<div class="header">
    <h1>DevMart</h1>
    
    
    <div class="tabs"><a href="/logout">Logout</a></div>
    <div class="tabs"><a href="/changepassword">Change Password</a></div>
    <div class="tabs">Welcome <%= cusname %></div>
    
</div>