<html>
    <head>
        <title>
            RESET PASSWORD
        </title>
        <link rel="stylesheet" href="style/style.css">
    </head>
    <body>
               
        <form id="newUserForm" class="userform">
            <table>
                
                <tr>
                    <th colspan="2"><h1>ENTER NEW PASSWORD</h1></th>
                </tr>
                <tr>
                    <td class="align-right lables">
                        <label for="email">EMAIL</label>
                    </td>
                    <td class="align-left">
                        <div class="align-left" id="email"><%= email %></div>
                    </td>
                </tr>
                <tr>
                    <td class="align-right lables">
                        <label for="password">PASSWORD</label>
                    </td>
                    <td class="align-left">
                        <input type="password" name="password" id="password" class="textInput">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class='error' id='passworderror'></div>
                    </td>
                </tr>             
                <tr>
                    <td colspan="2" class="center">
                        <input type="submit" value="SUBMIT" id="submit">
                    </td>
                </tr>
            </table>
            
            
            
        </form>
    </body>
    <script src="/js/resetPassword.js"></script>
</html>