<link rel="stylesheet" href="/styles/login/styles.css">

<h1>Admin login</h1>

<form method="post" action="/admin/login">
    <input name="username" placeholder="username"/>
    <input name="password" placeholder="password" type="password"/>
    <input type="submit"/>
    <error> <%= error %> </error>
</form>

<script>

    
</script>